flask==3.0.3
flask-cors==4.0.0
pinecone-client==5.0.1
sentence-transformers==3.1.1
transformers==4.44.2
torch==2.4.1
python-dotenv==1.0.1
pyodbc==5.1.0
sentencepiece==0.2.0
openai==1.54.1
requests==2.31.0
pandas==2.2.0
pyarrow==15.0.0